{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container" style="margin-top: 132px; margin-bottom: 125px">
  <div class="row">
    <div class="col-md-4 mx-auto">
      <h2 class="d-flex justify-content-center">Login</h2>
      <div class="d-flex justify-content-center">
  
      <form role="form" class="form-horizontal" method="post">
        {% csrf_token %}
        <div class="form-group">
          {{ form |crispy}}
          <input type="submit" class="btn btn-md" value="Sign in">
        </div>
        <p>Don't have an account? <a href="{% url 'signup' %}" title="Sign Up">Sign Up</a></p>
        <input type="hidden" name="next" value="{% url 'index' %}" />

          
        </div>
      
      </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
