{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<div class="container" style="padding-top:150px;">

<h2 class="d-flex justify-content-center">Please Complete the registration form below.</h2>
<p class="d-flex justify-content-center">Already have an account?<a href="{% url 'login' %}" title="Login here">Login here</a></p>

<div class="d-flex justify-content-center">

<form role="form" class="form-horizontal" method="post">
  {% csrf_token %}
  <div class="form-group">
  {{ form |crispy}}
  <input type="submit" class="btn btn-success" value="Sign In">
</div>
</form>
</div>
</div>
{% endblock %}
