{% extends 'base.html' %}{% load static %}



  {% block content %}

  <!--==========================
    Intro Section
  ============================-->
  
  <section id="intro">
    <div class="intro-container wow fadeIn">
      <h1 class="mb-4 pb-0">The Annual<br><span>Python Nigeria</span> Conference</h1>
      <p class="mb-4 pb-0">Wednesday, 30th October - Saturday, 2nd November, 2019, Wennovation Hub, 50 Ebitu Ukiwe Street. Jabi, Abuja, Nigeria</p>
      <a href="https://www.youtube.com/watch?v=fW0tGgo3yVk" class="venobox play-btn mb-4" data-vbtype="video"
        data-autoplay="true"></a>
      <a href="https://www.papercall.io/pyconng2019" class="about-btn scrollto">Submit Talk</a>
    </div>
  </section>

  <main id="main">

    <!--==========================
      About Section
    ============================-->
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h2>About The Event</h2>
            <p class="aboutheight">The PyConNG 2019 is the largest annual gathering of Python technology users including developers, 
              data scientists/analysts, business intelligence experts, representative of organizations 
              and everyone interested in technology. It is organised by members of the Python Users Nigeria Group, 
              a nonprofit organization dedicated to advancing the use of Python technology in Nigeria through her 
              community initiatives. 
            </p>
            <div class="collapse" id="moreAbout">
              <p class="aboutheight">
                Participants come together to network, collaborate and learn via the various high impact sessions. PyconNG 2019 will feature tutorial sessions, hackathon, sprint, keynote addresses, and various talk sessions in data science, Web/Devops, and general talks.
              </p>
              <p class="aboutheight">
                The PyConNG 2019 will mark the 3rd edition of the annual pycon conference with the last two conferences which was held in Lagos, hosting over 300 participants from Africa, America and different states in Nigeria. The 2019 Pycon Nigeria conference promises to be bigger and better.
              </p>
              <p class="aboutheight">
                The PyConNG 2019 conference will also provide a platform for companies/organizations to exhibit their product and service offerings.
                We look forward to host you in Nigeria’s federal capital territory for the 2019 PyconNG conference!
              </p>
            </div>
            <a class="link text-white" id='moreLess'  data-toggle="collapse" href="#moreAbout" role="button" aria-expanded="false" aria-controls="moreAbout">More</a>
          </div>
          <div class="col-lg-3">
            <h3>Where</h3>
            <p>Wennovation Hub, 50 Ebitu Ukiwe Street. Jabi, Abuja, Nigeria</p>
          </div>
          <div class="col-lg-3">
            <h3>When</h3>
            <p>Wed, 30th October - Sat, 2nd <br>November, 2019</p>
          </div>
        </div>
      </div>
    </section>
    <!--==========================
      Speakers Section
    ============================-->
     <section id="speakers" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2>Our KeyNote Speakers</h2>
          <p>Our stellar speaker lineup includes expert in python development, tech team leadership and product development.</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-4">
            <div class="speaker">
              <img src="{% static '/img/speakers/1.jpg' %}" alt="Speaker 3" class="img-fluid">
              <div class="details">
                <h3><a href="#">Robert John</a></h3>
                <p>Robert is a Machine Learning Google Developer Expert and a Google Cloud Certified - Professional Data Engineer. 
                  He currently serves as the CTO for Colab & Data Scientist at Versus.</p>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4">
            <div class="speaker">
              <img src="{% static 'img/speakers/2.jpg' %}" alt="Speaker 2" class="img-fluid">
              <div class="details">
                <h3><a href="#">Marlene Mhangami</a></h3>
                <p>Marlene is a Director on the board of Python Software Foundation (PSF) and the current chairperson 
                  of PyCon Africa. She's the co-founder of Zimbopy, 
                  </p>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4">
            <div class="speaker">
              <img src="{% static 'img/speakers/3.JPG' %}" alt="Speaker 3" class="img-fluid">
              <div class="details">
                <h3><a href="#">Crux Conception, M. Psych</a></h3>
                <p>Crux resides in Fort Wayne, Indiana, and has over 20 years of Law Enforcement (LEO), Criminal Profiling and teaching experience
                  .</p>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>

    </section>

    <!--==========================
      Schedule Section
    ============================-->
   <section id="schedule" class="section-with-bg">
      <div class="container wow fadeInUp">
        <div class="section-header">
          <h2>what am i going to learn?</h2>
          <p>This year, we wanted to enlarge the learning experience and we decided to give to you three amazing workshops. From how to
            get started with Python to advance tips and tricks taught by experienced mentors. We’re sure that these will empower
            your development career.</p>
        </div>

        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" href="#day-1" role="tab" data-toggle="tab"><s>Day 1</s></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" class="day-2" href="#day-2" role="tab" data-toggle="tab" id="button_2">Day 2</a>
          </li>
          <li class="nav-item">
            <a id="button_3" class="nav-link" class="day-3"  href="#day-3" role="tab" data-toggle="tab">Day 3</a>
          </li>
          <li class="nav-item">
            <a id="button_4" class="nav-link" class="day-4"  href="#day-4" role="tab" data-toggle="tab">Day 4</a>
          </li>
          
        </ul>

        

        <div class="tab-content row justify-content-center">

          <!-- Schdule Day 1 -->
          <div role="tabpanel" class="col-lg-9 tab-pane fade show active" id="day-1">
              <h4 class="text-center">Tutorial/Workshop Day</h4>

              <div class="row schedule-item">
                  <div class="col-md-2"><time>07:00 - 08:00 AM</time></div>
                  <div class="col-md-10">
                    <h4>Registration</h4>
                  </div>
                </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time>08:00 - 09:00 AM</time></div>
              <div class="col-md-10">
                <h4>Breakfast</h4>
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time>09:00 - 10:00 AM</time></div>
              <div class="col-md-10">
                
                <h4>Upstairs <span>Ogunyale Richard Kehinde.</span></h4>
                <p>Convolutional Neural Network- Image Classification</p>
                <br>
                <h4>Downstairs </h4>
                <p>DJANGOGIRLS</p> 
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time>10:00 - 11:00 AM</time></div>
              <div class="col-md-10">
                
                <h4>Upstairs <span>Habeeb Shopeju
                </span></h4>
                <p>Image Processing for Computer Vision Using OpenCV.</p>
                <br>
                <h4>Downstairs</h4>
                <p>PYLADIES</p>
                
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time>11:00 - 12:00 PM</time></div>
              <div class="col-md-10">
                
                <h4>Upstairs <span>Rising Odegua</span></h4>
                <p>A Practical Guide to Feature Engineering in Python.</p>
                <br>
                <h4>Downstairs <span>Victor Irekponor</span></h4>
                <p>Twitter Data Mining: Gathering and Pre-processing Location Based Tweets for Textual Analysis and Insights</p>
                
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time>12:00 - 1:00 PM</time></div>
              <div class="col-md-10">
                
                <h4>Lunch</h4>
          
              </div>
            </div>
                
             

            <div class="row schedule-item">
              <div class="col-md-2"><time>1:00 - 2:00 PM</time></div>
              <div class="col-md-10">
                
                <h4>Downstairs <span>Blessing Adesiji</span></h4>
                <p>Exploratory Data Analysis, Feature Engineering: Python a great tool to use</p>
                
              </div>
            </div>

            <div class="row schedule-item">
                <div class="col-md-2"><time>2:00 - 3:00 PM</time></div>
                <div class="col-md-10">
                  
                  <h4>Upstairs <span>Fatimah Rufai</span></h4>
                  <p>A Tutorial On Machine Learning With Python.</p>
                  <br>
                </div>
              </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time>3:00 - 4:00 PM</time></div>
              <div class="col-md-10">
                
                <h4>Upstairs <span>Kafayat Adeoye</span></h4>
                <p>A Practical Guide to Feature Engineering in Python.</p>
                <br>
                <h4>Downstairs <span>Raji Abdulgafar </span></h4>
                <p>Automating Open Source Intelligence for Ethical Hackers </p>
                
              </div>
            </div>
            <div class="row schedule-item">
              <div class="col-md-2"><time>4:00 - 5:00 PM</time></div>
              <div class="col-md-10">
                
                <h4>Downstairs <span>Adedapo Adedamola</span></h4>
                <p>Building a multi-tenancy application with Django</p>
                
              </div>
            </div>
          </div>
          <!-- End Schdule Day 1 -->

          <!-- Schdule Day 2 -->
          <div role="tabpanel" class="col-lg-9 tab-pane fade show active day-2" id="day-2">
              <h4 class="text-center">Tutorial/Workshop Day</h4>

            <div class="row schedule-item">
              <div class="col-md-2"><time>08:00 - 09:00 AM</time></div>
              <div class="col-md-10">
                <h4>Breakfast</h4>
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time>10:00 - 12:00 AM</time></div>
              <div class="col-md-10">
                
                <h4>Upstairs <span>Kafayat Adeoye</span></h4>
                <p>Internet of Things with Python and Virtual Lab</p>
                <br>
                <h4>Downstairs </h4>
                <p>DJANGO WEB FRAMEWORK (Psalms kalu and DjangoGirls)</p> 
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time>12:00 - 12:45 PM</time></div>
              <div class="col-md-10">
                
                <h4>Upstairs <span>Dare Sunday
                </span></h4>
                <p>Understanding what makes Recommendation System Tick and Tock.</p>
                <br>
                <h4>Downstairs <span>Victor Irekponor</span></h4>
                <p>Twitter Data Mining: Gathering and Pre-processing Location Based Tweets for Textual Analysis and Insights</p>
                
                
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time>12:45 - 1:45 PM</time></div>
              <div class="col-md-10">
                
                <h4>Upstairs <span>Fatimah Rufai</span></h4>
                <p>A Tutorial On Machine Learning With Python.</p>
                <br>
                <h4>Downstairs <span>Mmadu Manaseh Cletus and Diretnan Domnan</span></h4>
                <p>Pipelines: Creating end to end workflows</p>
                
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time>1:45 - 2:30 PM</time></div>
              <div class="col-md-10">
                
                <h4>Lunch</h4>
          
              </div>
            </div>
                
             

            <div class="row schedule-item">
              <div class="col-md-2"><time>3:30 - 4:10 PM</time></div>
              <div class="col-md-10">
                
                <h4>Upstairs <span>Abimbola Olawale Victor</span></h4>
                <p>A Gentle Introduction to Facial Recognition System Using Open CV.</p>
                <br>
                <h4>Downstairs <span>Adedamola Adedapo</span></h4>
                  <p>Building a multi-tenancy application with Django</p>
                
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time>4:10 - 5:10 PM</time></div>
              <div class="col-md-10">
                
                <h4>Upstairs <span>Chukwudi Nwachukwu</span></h4>
                <p>Gathering Your Error Logs and Searching them for Insights</p>
                <br>
                <h4>Downstairs <span>Sarah Adigwe</span></h4>
                <p>Data Cleaning and Prepping in Python</p>

              </div>
            </div>
            <!-- <div class="row schedule-item">
              <div class="col-md-2"><time>4:10 - 5:00 PM</time></div>
              <div class="col-md-10">
                
                  
                
                <h4>Downstairs <span>Aminu Israel</span></h4>
                <p>Plotly and Cufflinks - A very interactive Python visualization tool for EDA and presentations</p>
              </div>
            </div> -->

            <div class="row schedule-item">
                <div class="col-md-2"><time>5:10 - 5:40 PM</time></div>
                <div class="col-md-10">
                  
                  <h4>Upstairs <span>Aliyu Abubakar</span></h4>
                  <p>Building for the web using Django framework</p>
                  <br>
                  
                  
                </div>
              </div>
           

          </div>
          <!-- End Schdule Day 2 -->

          
          <!-- Schedule Day 3 -->
          <div role="tabpanel" class="col-lg-9 tab-pane fade show active" id="day-3">
              <h4 class="text-center">Conference Day</h4>

            <div class="row schedule-item">
              <div class="col-md-2"><time>----------</time></div>
              <div class="col-md-10">
                <h4>Breakfast</h4>
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time>09:00 - 09:10 AM</time></div>
              <div class="col-md-10">
                
                <!-- <h4>Upstairs <span>Okey Abdulgafar.</span></h4> -->
                <h4>WELCOME ADDRESS/RUNDOWN OF THE DAY</h4>
                <!-- <br>
                <h4>Downstairs </h4>
                <p>DJANGOGIRLS</p>  -->
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time>11:15 - 11:45 AM</time></div>
              <div class="col-md-10">
                
                <h4>Downstairs</h4>
                <p>Pyladies Section</p>
              </div>
            </div>

            <div class="row schedule-item">
                <div class="col-md-2"><time>11:45 - 12:30 PM</time></div>
                <div class="col-md-10">
                  
                  <h4>Downstairs <span>Robert John
                  </span></h4>
                  <p>Leveraging Technology and Data for Social and Economic impact</p>
                </div>
              </div>

            

            <!-- <div class="row schedule-item">
              <div class="col-md-2"><time>12:30 - 12:50 AM</time></div>
              <div class="col-md-10">
                
                <h4>Upstairs <span></span></h4>
                <p>DevOps: Today's Agile Software Development Methodology.</p>
                <br> -->
                <!-- <h4>Downstairs</h4>
                <p>Presentation by Eko Konnect</p>
                
              </div>
            </div> -->

            <div class="row schedule-item">
              <div class="col-md-2"><time>12:30- 1:05 PM</time></div>
              <div class="col-md-10">
                
                <h4>Upstairs <span>Shehu Awwal</span></h4>
                <p>
                    Building A Distributed Systems To Scale Your Python App On Premise DataCenter Or In The Cloud 
                </p>
                <br>
                <h4>Downstairs <span>Aminah Mardiyyah Rufai</span></h4>
                <p>
                    The Use of Artificial Intelligence to Automate Fruit Quality Inspection
                </p>
                
              </div>
            </div>

            <div class="row schedule-item">
                <div class="col-md-2"><time>1:05 - 1:40 PM</time></div>
                <div class="col-md-10">
                  
                  <h4>Downstairs <span>Pannel Session</span></h4>
                  <p>
                      Women in Technology
                  </p>
                  
                </div>
              </div>
                
             

            <div class="row schedule-item">
              <div class="col-md-2"><time>2:00 - 2:20 PM</time></div>
              <div class="col-md-10">
                
                  <h4>Upstairs <span>Iyanuoluwa Ajao</span></h4>
                  <p>
                      The Three Python Concurrency Patterns: Which One to choose?
                  </p>
                  <br>
                  <h4>Downstairs <span>Oluwatobi Oluwatoyin</span></h4>
                  <p>
                      Data, Ethics and the Law
                  </p>
              </div>
            </div>
            <div class="row schedule-item">
              <div class="col-md-2"><time>2:20 - 2:40 PM</time></div>
              <div class="col-md-10">
                
                  <p>
                      Break
                  </p>
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time>2:40 - 3:10 PM</time></div>
              <div class="col-md-10">
                
                  <h4>Upstairs <span>Emeka Boris Ama</span></h4>
                  <p>
                      Introduction to Active Learning
                  </p>
                  <br>
                  <h4>Downstairs <span>Bakare Emmanuel</span></h4>
                  <p>
                      Event Driven Architecture The Right Way
                  </p>
              </div>
            </div>

            
  
            <div class="row schedule-item">
              <div class="col-md-2"><time>3:10 - 3:40 PM </time></div>
              <div class="col-md-10">
          
                <h4>Downstairs <span>Glory Agatevure </span></h4>
                <p>Understanding the Relevance of UI Refactoring and User-centered Design in Software Development</p>
                
              </div>
            </div>

            <div class="row schedule-item">
                <div class="col-md-2"><time>3:40 - 4:10 PM </time></div>
                <div class="col-md-10">
                  
                  <h4>Upstairs <span>Aliyu Abubakar</span></h4>
                  <p>Building for the web using Django framework</p>

                  <h4>Downstairs <span>Adekanye Tomi</span></h4>
                  <p>
                      From No code to Python code
                  </p>
                </div>
              </div>
              <div class="row schedule-item">
                  <div class="col-md-2"><time>4:10 - 4:40 PM</time></div>
                  <div class="col-md-10">
                    
                    <h4>Kahoot Section</h4>
                   
                  </div>
                </div>
                <div class="row schedule-item">
                    <div class="col-md-2"><time>4:40 - 5:30 PM</time></div>
                    <div class="col-md-10">
                      
                      <h4>Downstairs <span>Bakare Emmanuel</span></h4>
                      <p>Lightning Talk</p>
                      
                    </div>
                  </div>
              

          </div>
          <!-- End of Schedule -->




            <!-- Schedule Day 4 -->
            <div role="tabpanel" class="col-lg-9 tab-pane fade show active" id="day-4">
                <h4 class="text-center">Conference Day</h4>

                <div class="row schedule-item">
                  <div class="col-md-2"><time>08:00 - 09:00 AM</time></div>
                  <div class="col-md-10">
                    <h4>Breakfast</h4>
                  </div>
                </div>
    
                <div class="row schedule-item">
                  <div class="col-md-2"><time>09:00 - 09:10 AM</time></div>
                  <div class="col-md-10">
                    
                    <h4>WELCOME RECEPTION/RUNDOWN OF THE DAY</h4>
                   
                  </div>
                </div>
    
                <div class="row schedule-item">
                  <div class="col-md-2"><time>09:10 - 09:50 AM</time></div>
                  <div class="col-md-10">
                    
                    <br>
                    <h4>Downstairs<span>Marlene Mhangamin</span></h4>
                    <p>Deepening the impact of Python Communities in Africa.</p>
                    
                  </div>
                </div>
    
                <div class="row schedule-item">
                  <div class="col-md-2"><time>09:50 - 10:25 AM</time></div>
                  <div class="col-md-10">
                    
                    <h4>Downstairs<span>James Sandy</span></h4>
                    <p>
                        Delete-to-Improve : Refactoring in Python, Why and How to Restructure Your Code
                        </p>
                    
                  </div>
                </div>
    
                <div class="row schedule-item">
                  <div class="col-md-2"><time>10:25 - 11:00 AM</time></div>
                  <div class="col-md-10">
                    
                    <h4>Upstairs <span>Damilola Ogungbesan
                      </span></h4>
                    <p>
                        Best Practices With Django 
 
                    </p>
                    <br>
                    <h4>Downstairs<span>Mayowa Tudonu
                      </span></h4>
                    <p>
                        Getting Started With Blockchain Application Development as a Python Developer - 

                    </p>
                    
                  </div>
                </div>
                    
                 
    
                <div class="row schedule-item">
                  <div class="col-md-2"><time>11:00 - 11:40 AM</time></div>
                  <div class="col-md-10">
                    
                    <h4>Second Panel session

                      </h4>
                    
                  </div>
                </div>
    
                <div class="row schedule-item">
                  <div class="col-md-2"><time>11:40 - 11:50 AM</time></div>
                  <div class="col-md-10">
                    
                    <h4>Presentation by Gitpod
                      </h4>
                    <p>Icebreaker</p>
                    
                  </div>
                </div>
                <div class="row schedule-item">
                  <div class="col-md-2"><time>11:30 - 12:05 PM</time></div>
                  <div class="col-md-10">
                    
                    <h4>Upstairs <span>Adekanye Tomi

                      </span></h4>
                    <p>
                        Connecting Python to the Industrial IoT 
                        
                      </p>
                    <br>
                    <h4>Downstairs<span>Tolulade Ademisoye
                      </span></h4>
                    <p>Connecting Python to the Industrial IoT 

                      </p>
                    
                  </div>
                </div>
    
                <div class="row schedule-item">
                    <div class="col-md-2"><time>12:05PM - 13:40 PM</time></div>
                    <div class="col-md-10">
                      
                    <h4>Upstairs <span>Odemakinde Elisha Jesutofunmi


                      </span></h4>
                    <p>
                        Python implementation of biological Neurons (Spiking Neural Network)                        
                      </p>
                    <br>
                      <h4>Downstairs<span>Linda Oranya</span></h4>
                      <p>
                          Pymagic: How A/B testing and experimentation models helped me hit my target in one week 
                          
    
                        </p>
                      
                    </div>
                  </div>
                  <div class="row schedule-item">
                      <div class="col-md-2"><time>
                          12:40 - 13:40
                          </time></div>
                      <div class="col-md-10">
                        
                        <h4>BREAk</h4>
                       
                      </div>
                    </div>
                    <div class="row schedule-item">
                        <div class="col-md-2"><time>13:40 - 14:20 PM</time></div>
                        <div class="col-md-10">
                          
                          <h4>Downstairs<span>Sam Adekunle

                            </span></h4>
                          <p>Building a Value Driven Tech Community 

     
                            </p>
                          
                        </div>
                      </div>
                      <div class="row schedule-item">
                          <div class="col-md-2"><time>
                              14:20- 15:20PM
                               </time></div>
                          <div class="col-md-10">
                            
                            <h4>Break</h4>
                            
                            
                          </div>
                        </div>
                        <div class="row schedule-item">
                            <div class="col-md-2"><time>
                                15:20 - 16:00
                                 PM</time></div>
                            <div class="col-md-10">
                              
                              <h4>Downstairs<span>Crux Conception, M. Psych
                                </span></h4>
                              <p>
                                  Team Dynamics & Communication Skills (For Software Engineering Team Projects, Start Ups & Customer Service)  
                                </p>
                              
                            </div>
                          </div>
                          <div class="row schedule-item">
                              <div class="col-md-2"><time>16:00 - 16:40 PM</time></div>
                              <div class="col-md-10">
                                
                                <h4>
                                    Panel
                                    </h4>
                                
                              </div>
                            </div>

                  <div class="row schedule-item">
                              <div class="col-md-2"><time>16:40 - 17:00 PM</time></div>
                              <div class="col-md-10">
                                
                                <h4>
                                  Lightning Talk
                                </h4>
                                
                              </div>
                            </div>
                            <div class="row schedule-item">
                                <div class="col-md-2"><time>17:00 -</time></div>
                                <div class="col-md-10">
                                  
                                  <h4>
                                      PyParty
                                      </h4>
                                  
                                </div>
                              </div>
                              
    
              </div>
              <!-- End of Schedule 4 -->
    

      </div>

      </div>

    </section>

    
    <!--==========================
      Hotels Section
    ============================-->
    <section id="features" class="section-with-bg wow fadeInUp">

      <div class="container-fluid">
        <div class="section-header">
          <h2>Event Features</h2>
          <p>Here are the exiting event features and sessions</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="mx-auto">
              <h5 class="font-weight-bold text-center">Keynotes</h5>
              <p class="font-weight-lighter text-center">The keynote session will feature keynote addresses on topical issues around the use of python technology as well building a scalable business/startup from coding.</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="mx-auto">
              <h5 class="font-weight-bold text-center">Tutorials</h5>
              <p class="font-weight-lighter text-center">The tutorial sessions are design to help aspiring python developers, aspiring data scientists and technology enthusiasts develop their skills and expertise in Python programming.</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="mx-auto">
              <h5 class="font-weight-bold text-center">Hackathon</h5>
              <p class="font-weight-lighter text-center">The goal of the hackathon is to leverage the simplicity and efficiency of the python programming language to solve a Nigerian-centric problem. </p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="mx-auto">
              <h5 class="font-weight-bold text-center">Specialized talks</h5>
              <p class="font-weight-lighter text-center">This session will feature various talks on using Python for exploratory &amp; Data Science, Building web apps with Python frameworks, CI/CD (DevOps) </p>
            </div>
          </div>

          
        </div>
      </div>

    </section> 

    <!--==========================
      Gallery Section
    ============================-->
    <section id="gallery" class="wow fadeInUp">

      <div class="container">
        <div class="section-header">
          <h2>Gallery</h2>
          <p>Check our images from last year's edition</p>
        </div>
      </div>

      <div class="owl-carousel gallery-carousel">
        {% for image in images %}
        <a href="#" class="venobox" data-gall="gallery-carousel"><img src="{% static 'img/past_event/{{image}}' %}" alt=""></a>
        {% endfor %}
        <a href="{% static 'img/past_event/1.jpg' %}" class="venobox" data-gall="gallery-carousel"><img src="{% static 'img/past_event/1.jpg' %}" alt=""></a>
        <a href="{% static 'img/past_event/2.jpg' %}" class="venobox" data-gall="gallery-carousel"><img src="{% static 'img/past_event/2.jpg' %}" alt=""></a>
        <a href="{% static 'img/past_event/3.jpg' %}" class="venobox" data-gall="gallery-carousel"><img src="{% static 'img/past_event/3.jpg' %}" alt=""></a>
        <a href="{% static 'img/past_event/4.jpg' %}" class="venobox" data-gall="gallery-carousel"><img src="{% static 'img/past_event/4.jpg' %}" alt=""></a>
        
      </div>

    </section>

    <!--==========================
      Sponsors Section
    ============================-->
    <section id="supporters" class="section-with-bg wow fadeInUp">

      <div class="container">
        <div class="section-header">
          <h2>Sponsors</h2>
        </div>

        <div class="row no-gutters supporters-wrap clearfix">

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <a href="https://www.stickermule.com/supports/pyconnigeria19"><img src="{% static 'img/supporters/stickermule.png' %}" class="img-fluid" alt=""></a>
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <a href="https://digitalocean.com"><img src="{% static 'img/supporters/digitalocean_logo.png' %}" class="img-fluid" alt=""></a>
            </div>
          </div>
        
          <!-- <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <a href="https://www.stickermule.com/supports/pyconnigeria19"><img src="{% static 'img/supporters/datamatrix@2x.png' %}" class="img-fluid" alt=""></a>
            </div>
          </div>  -->
          
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <a href="https://www.djangoproject.com"><img src="{% static 'img/supporters/django@2x.png' %}" class="img-fluid" alt=""></a>
            </div>
          </div>
          
          <!-- <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <a href="https://www.stickermule.com/supports/pyconnigeria19"><img src="{% static 'img/supporters/flutterwave@2x.png' %}" class="img-fluid" alt=""></a>
            </div>
          </div>
        
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <a href="https://www.stickermule.com/supports/pyconnigeria19"><img src="{% static 'img/supporters/github@2x.png' %}" class="img-fluid" alt=""></a>
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <a href="https://www.stickermule.com/supports/pyconnigeria19"><img src="{% static 'img/supporters/paylater@2x.png' %}" class="img-fluid" alt=""></a>
            </div>
          </div> -->
          
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <a href="https://www.python.org/"><img src="{% static 'img/supporters/psf@2x.png' %}" class="img-fluid" alt=""></a>
            </div>
          </div>

        </div>

      </div>

    </section>

    
    <!--==========================
      Buy Ticket Section
    ============================-->
    <!-- <section id="buy-tickets" class="section-with-bg wow fadeInUp">
      <div class="container">

        <div class="section-header">
          <h2>Buy Tickets</h2>
          <p>list of tickets.</p>
          <p>What every ticket comes with:</p>

        </div>

        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="mx-auto">
              <h5 class="font-weight-bold text-center">Access to tutorial & Main conference</h5>
              <p class="font-weight-lighter text-center">Admission to the conference on tutorial, main conference, sprint and hackathon days.</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="mx-auto">
              <h5 class="font-weight-bold text-center">Educative Talks, Keynotes & Panel session</h5>
              <p class="font-weight-lighter text-center">Access to more than 30 talks, educative keynotes, interesting and engaging panel sessions, and also if you got a great idea you needed somebody to work with you on? Do you seek a career advice or growth? This is the opportunity to connect with experts and like minds in the tech space.</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="mx-auto">
              <h5 class="font-weight-bold text-center">Free Internet WIFI:</h5>
              <p class="font-weight-lighter text-center">Access to unlimited and free internet WIFI connectivity all the days. Just bring your device (Laptop, Phone, Tablets) and get connected.</p>
            </div>
          </div>
        
        <div class="col-lg-3 col-md-6">
          <div class="mx-auto">
            <h5 class="font-weight-bold text-center">Swags:</h5>
            <p class="font-weight-lighter text-center">Every registered conference attendee will 
              receive official conference T-shirt (We have everyone's size), stickers, writing
               pads, pens and other souvenirs offered by our sponsors.</p>
          </div>
        </div>
      </div>
        <h5>NB: The price of conference tickets does NOT include hotel accommodations or pass to 
          social events such as tours or dinners.
        </h5>
        <hr>
        
        <div class="row">
          <div class="col-lg-4">
            <div class="card mb-5 mb-lg-0">
              <div class="card-body">
                <h5 class="card-title text-muted text-uppercase text-center">Students</h5>
                <h6 class="card-price text-center">NGN5000</h6>
                <hr>
                This is for students and postdoctoral researchers currently studying in a recognized 
                institution. Please note that students will be required to present a valid student 
                ID card or declaration from University, stating your affiliation, starting and end dates.

                <hr>
                <div class="text-center">
                  <a href="{% url 'ticket_pay_students' %}">Know More</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card mb-5 mb-lg-0">
              <div class="card-body">
                <h5 class="card-title text-muted text-uppercase text-center">Individual</h5>
                <h6 class="card-price text-center">NGN8000</h6>
                <hr>
                This is for people using Python from home or as freelancers. 
                This if for you if you are paying from your own funds.

                <hr>
                <div class="text-center">
                  <a href="{% url 'ticket_pay_individual' %}">Know More</a>
                </div>
              </div>
            </div>
          </div> 
          
          <div class="col-lg-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title text-muted text-uppercase text-center">Corporate</h5>
                <h6 class="card-price text-center">NGN15000</h6>
                <hr>
                This ticket is for people using Python extensively for business or enerprise solutions. 
                Employers pay for this ticket for their staff.

                <hr>
                <div class="text-center">
                  <a href="{% url 'ticket_pay_corporate' %}">Know More</a>
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>
      

    </section> -->
    <!--==========================
      Venue Section
    ============================-->
    <section id="venue" class="wow fadeInUp">

      <div class="container-fluid">

        <div class="section-header">
          <h2>Event Venue</h2>
          <p>Event venue location info and gallery</p>
        </div>

        <div class="row no-gutters">
          <div class="col-lg-6 venue-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3939.973245137716!2d7.429488314160824!3d9.066201690903007!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x104e75d1da9fcf6d%3A0x82aeaf6de3a8449e!2sWennovation+Hub!5e0!3m2!1sen!2sng!4v1565473018030!5m2!1sen!2sng" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>

          <div class="col-lg-6 venue-info">
            <div class="row justify-content-center">
              <div class="col-11 col-lg-8">
                <h3>Wennovation Hub, Ebitu Ukiwe Street, Abuja, Nigeria</h3>
                <p>World Class Centre for Training, Workshop, Events, and Conferences!
                To enable you achieve excellence, we have created ergonomic training venues with 
                futuristic technology and resources that enhance human potential to its fullest.</p>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="container-fluid venue-gallery-container">
        <div class="row no-gutters">

          <div class="col-lg-3 col-md-4">
            <div class="venue-gallery">
              <a href="{% static 'img/venue-gallery/1.jpg' %}" class="venobox" data-gall="venue-gallery">
                <img src="{% static 'img/venue-gallery/1.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="venue-gallery">
              <a href="{% static 'img/venue-gallery/2.jpg' %}" class="venobox" data-gall="venue-gallery">
                <img src="{% static 'img/venue-gallery/2.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="venue-gallery">
              <a href="{% static 'img/venue-gallery/3.jpg' %}" class="venobox" data-gall="venue-gallery">
                <img src="{% static 'img/venue-gallery/3.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="venue-gallery">
              <a href="{% static 'img/venue-gallery/4.jpg' %}" class="venobox" data-gall="venue-gallery">
                <img src="{% static 'img/venue-gallery/4.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="venue-gallery">
              <a href="img/venue-gallery/5.jpg" class="venobox" data-gall="venue-gallery">
                <img src="img/venue-gallery/5.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="venue-gallery">
              <a href="img/venue-gallery/6.jpg" class="venobox" data-gall="venue-gallery">
                <img src="img/venue-gallery/6.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="venue-gallery">
              <a href="img/venue-gallery/7.jpg" class="venobox" data-gall="venue-gallery">
                <img src="img/venue-gallery/7.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="venue-gallery">
              <a href="img/venue-gallery/8.jpg" class="venobox" data-gall="venue-gallery">
                <img src="img/venue-gallery/8.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

        </div>
      </div>

    </section>

    <!--==========================
      Contact Section
    ============================-->
    <section id="contact" class="section-bg wow fadeInUp">

      <div class="container">

        <div class="section-header">
          <h2>Contact Us</h2>
          <p></p>
        </div>

        

        <div class="form">
          <div id="sendmessage">Your message has been sent. Thank you!</div>
          <div id="errormessage"></div>
          <form action="" method="post" role="form" class="contactForm">
            <div class="form-row">
              <div class="form-group col-md-6">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validation"></div>
              </div>
              <div class="form-group col-md-6">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validation"></div>
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
              <div class="validation"></div>
            </div>
            <div class="form-group">
              <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
              <div class="validation"></div>
            </div>
            <div class="text-center"><button type="submit">Send Message</button></div>
          </form>
        </div>

      </div>
    </section><!-- #contact -->

  </main>
  {% endblock content %}
</body>

</html>
