{% extends 'base.html' %}{% load static %}{% block content %}
<link href="{% static 'css/toastr.min.css' %}" rel="stylesheet">
<div class="cont">
    
<h2 class="d-flex justify-content-center">Welcome {{request.user}}!</h2>
<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        
        <img class="img-fluid mb-2" src="{% static 'img/iconfinder_bubble_115766.svg'%}" alt="Generic placeholder image" width='30px' height="30px">
        <h4 class="">Have something interesting to talk about? </h4>
        <p class="">You can talk just about anything! including but not limited to scripting, webdevelopment, Data Science, latest trends, how you use python in your daily activities, how to improve the python community... </p>
        <p><a class="btn btn-default" href="{% url 'proposals:create_proposal'%}" role="button">Submit a talk proposal &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="img-fluid mb-2" src="{% static 'img/iconfinder_user_male4_172628.svg'%}" alt="Generic placeholder image" width='30px' height="30px">
        <h4>Update your Profile</h4>
        <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Fusce dapibus, tellus ac cursus commodo.</p>
        <p><a class="btn btn-default" href="{% url 'update_profile' %}" role="button">Update Profile &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="img-fluid mb-2" src="{% static 'img/iconfinder_23_2529949.svg'%}" alt="Calender icon" width='30px' height="30px">
        <h4>Event Schedule</h4>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris.</p>
        <p><a class="btn btn-default" href="#" role="button">View Schedule &raquo;</a></p>
        <!--{% paystack_button amount=3000 email="j@example.com" %}-->
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
</div>
{% endblock %}

