{% extends 'base.html' %}{% load static %}


{% block content %}

<div class="container wow fadeInUp" style="margin-top: 150px; margin-bottom: 70px">
    <div class="row">
        <div class="col-12">
            <div class="section-header">
                <h2 class="text-center font-weight-bold">Call for Sponsors</h2>
                <p>Get involved as a sponsor for python conference Nigeria 2019</p>
            </div>
        </div>
      
        <div class="col-md-8 mx-auto">
            <p class="text-center lh-auto mb-1">Sponsoring PyCon Nigeria guarantees you or your organization targeted visibility,
            and the opportunity to present yourself and your company in a professional and
            innovative environment. You will have a unique opportunity to meet 200+ Python
            enthusiasts, developers, users and professionals.
            As a sponsor of PyCon Nigeria 2019, you will be one of the few pioneers
            supporting the work of a great open source community in Nigeria which is laying
            the foundation of technological development and innovation.</p>
            <p class="text-center mt-0"><span class="font-weight-bold">I would like to sponsor the Conference, whom should I contact?</span>  Please send an email to <a href="mailto:sponsorship@pythonnigeria.org">sponsorship@pythonnigeria.org</a></p>
        </div>
    </div>
</div>
<hr>
<section id="sponsor-benefit" class="section-with-bg wow fadeInUp" style="margin-top: 132px;">
    <div class="container">
        <div class="section-header">
            <h2>Your benefits</h2>
            <p>As a sponsor for pyconng 2019</p>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="card bg-white">
                    <div class="card-body">
                        <h5 class="card-title text-muted text-uppercase text-center lh-bt">Networking</h5>
                        <p>Get the opportunity to meet and collaborate with the
                        best of innovators and pace setters in the Nigeria software Industry</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card bg-white">
                    <div class="card-body">
                        <h5 class="card-title text-muted text-uppercase text-center lh-bt">New Business</h5>
                        <p>Use the conference as a platform to launch your new business to the right audience and connect with great enthusiasts</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card bg-white">
                    <div class="card-body">
                        <h5 class="card-title text-muted text-uppercase text-center lh-bt">Head Hunt</h5>
                        <p>Take advantage of the conference by having access to
                        some of the best Pythonistas in the Industry all in the Same room</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card bg-white">
                    <div class="card-body">
                        <h5 class="card-title text-muted text-uppercase text-center lh-bt">Targeted Reach</h5>
                        <p>Reach out specifically to people with real interest in the conference and run a targeted marketing to passionate audience!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sponsor-table wow fadeInUp" style="margin-top: 132px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="pricingTable">
                    <div class="section-header">
                        <h2 class="pricingTable-title">SPONSORSHIP OPPORTUNITIES.</h2>
                        <p class="pricingTable-subtitle">Get Involved as a sponsor of Python Nigeria 2019.</p>
                    </div>
                    
                    <ul class="pricingTable-firstTable">
                        <li class="pricingTable-firstTable_table">
                            <h1 class="pricingTable-firstTable_table__header">GOLD SPONSORSHIP</h1>
                            <p class="pricingTable-firstTable_table__pricing"><span>NGN </span><span> 550,000</span><span>$1575</span>   </p>
                            <ul class="pricingTable-firstTable_table__options">
                                <li>Logo on pycon NG website</li>
                                <li>Advertisement (11/2 page ad)</li>
                                <li>Send Recruiting emails to attendees</li>
                                <li>Attendee bag insert</li>
                                <li>5 free conference session passes</li>
                                <li>Sponsored talk (20 min)</li>
                                <li>Banner/ back drop display</li>
                            </ul>
                            <a class="pricingTable-firstTable_table__getstart d-block" href="https://paystack.com/pay/gold-sponsor-pycon">Support Now</a>
                        </li>
                        <li class="pricingTable-firstTable_table">
                            <h1 class="pricingTable-firstTable_table__header">PLATINUM SPONSORSHIP</h1>
                            <p class="pricingTable-firstTable_table__pricing"><span>NGN </span><span> 1,000,000</span><span>$2860</span>   </p>
                            <ul class="pricingTable-firstTable_table__options">
                                <li>Logo on pycon NG website</li>
                                <li>The keynote talk room (with sponsor name)</li>
                                <li>Advertisement (2 page ad)</li>
                                <li>Attendee bag insert</li>
                                <li>7 free conference session</li>
                                <li>The biggest and most central table</li>
                                <li>Send Recruiting emails to attendees on your behalf</li>
                                <li>Sponsored talk (30min) </li>
                                <li>Banner/ backdrop display in the Podium to be displayed</li>
                            </ul>
                            <a class="pricingTable-firstTable_table__getstart d-block" href="https://paystack.com/pay/platinum-sponsor-pycon">Support Now</a>
                        </li>
                        <li class="pricingTable-firstTable_table">
                            <h1 class="pricingTable-firstTable_table__header">SILVER SPONSORSHIP</h1>
                            <p class="pricingTable-firstTable_table__pricing"><span>NGN </span><span> 300,000</span><span>$860</span>   </p>
                            <ul class="pricingTable-firstTable_table__options">
                                <li>Logo on PyCon NG website</li>
                                <li>Advertisement (1 page ad)</li>
                                <li>Attendee bag insert</li>
                                <li>3 free conference session passes</li>
                                <li>Standard exhibit table in the exhibit hall</li>
                                <li>Send Recruiting emails to attendees</li>
                                <li>Recruiting Ad on website and job-board</li>
                                <li>Sponsored talk (15min)</li>
                            </ul>
                            <a class="pricingTable-firstTable_table__getstart d-block" href="https://paystack.com/pay/silver-sponsor-pycon">Support Now</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-with-bg wow fadeInUp special-sponsor" style="margin-top: 132px;">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="section-header">
                    <h4 class="text-center font-weight-bold mb-1">PYTHON NIGERIA PATRON</h4>
                    <p>Get Involved as a sponsor of Python Nigeria 2019</p>
                </div>
                <div class="card">
                    <div class="card-body">
                        <ul class="patron-list">
                            <li>Logo on PyCon Nigeria website</li>
                            <li>Advertisement (1/4 page ad)</li>
                            <li>1 conference session pass</li>
                        </ul>
                        <a class="pricingTable-firstTable_table__getstart text-center d-block" href="https://paystack.com/pay/patron-sponsor-pycon">Support Now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-7">
                <div class="section-header">
                    <h3 class="text-uppercase text-center font-weight-bold">Special Sponsorship</h3>
                    <p> we can help develop a tailored sponsorship package</p>
                </div>
                <p class="lh-auto mb-1">Our standard packages are designed for organisations and individuals looking to
                make a contribution to building a stronger Nigerian Python community through
                PyCon Nigeria. If you would like to Sponsor other aspects of the conference such
                as Breakfast, Lunch, Media or Internet, please reach out to us for more
                Information.</p>
                <ul class="patron-list mt-1 mb-1">
                    <li><span class="font-weight-bold">Lunch Sponsor:</span> NGN 400,000</li>
                    <li><span class="font-weight-bold">Breakfast Sponsor:</span>NGN 200,000</li>
                    <li><span class="font-weight-bold">Coffee Breaks Sponsor:</span> NGN 150,000</li>
                    <li><span class="font-weight-bold">Financial Aid Sponsor:</span> NGN 150,000 (Minimum)</li>
                    <li><span class="font-weight-bold">Water/Drinks Sponsor:</span> NGN 200,000</li>
                    <li><span class="font-weight-bold">Conference Bag Sponsorship:</span> NGN 200,000</li>
                    <li><span class="font-weight-bold">Videography/ Media Sponsor:</span> NGN 300,000</li>
                    <li><span class="font-weight-bold">Internet Sponsor:</span> Open</li>
                </ul>
                <a class="mt-1 pricingTable-firstTable_table__getstart text-center d-block" href="https://paystack.com/pay/sponsor-special-pycon">Support Now</a>
            </div>
        </div>
    </div>
</section>

{% endblock %}