{% extends 'base.html' %}
{% load static %}
{% block content %}


<section class="section-with-bg wow fadeInUp special-sponsor" style="margin-top: 150px;">
    <div class="container">
        <div class="row">
            <div class="col-md-4 d-none d-md-block">
                <div class="card">
                    <div class="card-body py-3 individual-img">
                        <div class="overlay-effect d-flex justify-content-center align-items-center trans-04">
                            <img src="{% static 'img/logo-light.png' %}" alt="" title="" class="" style="width: 170px; height: auto;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="section-header">
                    <h3 class="text-uppercase text-center font-weight-bold">Individual Ticket</h3>
                    <p>We've got you covered.</p>
                </div>
                <p class="lh-auto mb-1 mt-0">Sometimes it’s hard to see the light at the end of the tunnel of your study program, and meeting or listening to inspiring leaders in your field can be just what’s needed to reinvigorate you. Being at a conference and seeing the breadth of attendees and presentations can provide invaluable advice and inspiration for students about what to expect post-graduation, whether you intend to remain in academia or not.  Have a look in the conference program for any careers focused sessions designed for students and early career researchers.</p>
                <ul class="patron-list mt-1 mb-3">
                    <li><span class="font-weight-bold">Regular Seating</li>
                    <li><span class="font-weight-bold">Coffee Break</li>
                    <li><span class="font-weight-bold">Custom Badge</li>
                    <li><span class="font-weight-bold">1 person pass</span></li>
                    <li><span class="font-weight-bold">Community Access</li>
                    <li><span class="">Opportunity to meet leaders in your field</li>
                    <li><span class="">Careers information and inspiration</li>
                    <li><span class="">Skills development and to learn something new</li>
                </ul>
                
            </div>
        </div>
    </div>
</section>






{% endblock %}