{% extends 'base.html' %}


    
{% block content %}

{% for proposal in proposals%}
<a href="{% url 'update_proposals' proposal.slug %}" title="">{{proposal.title}}</a> <i>pending</i> 
{% empty %}
<section id="proposals" class="wow fadeInUp"></section>
    <div class="container">
      <div>
        <h2>You have not submitted any proposals yet.?</h2>
        <b><a href="{% url 'create_proposal'%}">Submit a Proposal?</a></b>
      </div>
    </div>
</section>    
{%endfor%}
{% endblock content %}
