{% extends 'base.html' %}
<section id="speakers" class="wow fadeInUp">
{%if object_list %}<h1>Your Submited Proposals</h1>{%endif%}
{% block content%}
{% for proposal in object_list%}
<a href="{% url 'proposals:update_proposal' proposal.slug %}" title=""><b>{{proposal.title}}</b></a> <i>Approval pending</i><br>
{% empty %}
<h2>You have not submitted any proposals yet.</h2>
<b><a href="{% url 'proposals:create_proposal' %}">Submit a Proposal?</a></b>

{% block content%}
{% for proposal in proposals%}
<a href="{% url 'update_proposals' proposal.slug %}" title="">{{proposal.title}}</a> <i>pending</i> 
{% empty %}
<h2>You have not submitted any proposals yet.</h2>
<b><a href="{% url 'create_proposal'%}">Submit a Proposal?</a></b>
{%endfor%}
{% endblock content %}
