{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Submit a Proposal{% endblock %}



{% block content %}
<div class="container-fluid" style="margin-top: 100px">
<h2 class="d-flex justify-content-center">Submit a Proposal</h2>
<div class="d-flex justify-content-center">

<form role="form" class="form-horizontal" method="post">
  {% csrf_token %}
  <div class="form-group">
  {{ form |crispy}}
  <input type="submit" class="btn btn-success" value="Submit Proposal">
</div>
</form>
</div>
</div>

</div>

{% endblock %}
